@model WebSiteHocTiengNhat.Models.FlashCard
<h2>Delete Card</h2>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CardId" />
    <p>Are you sure you want to delete @Model.CardId</p>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>