@model WebSiteHocTiengNhat.Models.Lesson
<h2>Delete Lesson</h2>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="LessonId" />
    <p>Are you sure you want to delete @Model.LessonName</p>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>