@model WebSiteHocTiengNhat.Models.Course
<h2>Delete Course</h2>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CourseId" />
    <p>Are you sure you want to delete @Model.CourseName</p>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>